<section class="filter">
    <h3 class="header">CHECK AVAILABILITY</h3>
    <div class="margin-bottom-20">
        <div>Check In</div>
        <div class="margin-top-10">
            <input type="text"  class="date-picker" date-picker>
        </div>
    </div>
    <div class="margin-bottom-20">
        <div>Night</div>
        <div class="margin-top-10">
            <input type="number" min="0" class="input-box-tm1">
        </div>
    </div>
    <div class="margin-bottom-20">
        <div>Check Out</div>
        <div class="margin-top-10">
            <input type="text"  class="date-picker" date-picker>
        </div>
    </div>
    <div class="row">
        <div class="margin-bottom-20 col-xs-6 col-lg-6 col-sm-6 col-md-6">
            <div>Adult</div>
            <div class="margin-top-10">
                <input type="number" min="0" class="input-box-tm1">
            </div>
        </div>
        <div class="margin-bottom-20 col-xs-6 col-lg-6 col-sm-6 col-md-6">
            <div>Children</div>
            <div class="margin-top-10">
                <input type="number" min="0" class="input-box-tm1">
            </div>
        </div>
    </div>

    <div class="margin-bottom-20 textalign-center">
        <button class="btn btn-thm-1 margin-top-10" >Check availability</button>
    </div>
</section>
