.filter{
  background-image: url("../js/components/roomsFilter/imgs/filter-bg.png");
  border: 1px solid #ad895b;
  padding:10px;
  color: #ad895b;
  .header{
    text-align: center;
    font-size: 18px;
    color: #ad895b;
    font-family: 'Lato', sans-serif;
  }
}
