<footer class="footer ">
    <section class="footer-content container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="title">BOOK NOW</div>
                <div class="margin-top-20">
                    <div class="margin-bottom-10">
                        <i class="fa fa-phone-square margin-right-5"></i><span>+1800-123-456</span>
                    </div>
                    <div class="margin-bottom-20">
                        <i class="fa fa-envelope margin-right-5"></i><span> sales@sanctumhotels.com</span>
                    </div>
                    <ul class="large-icn">
                        <li><i class="fa fa-facebook-official"></i></li>
                        <li><i class="fa fa-google-plus-square"></i></li>
                        <li><i class="fa fa-twitter-square"></i></li>
                        <li><i class="fa fa-pinterest-square"></i></li>
                        <li><i class="fa fa-youtube-square"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="title">OUR AWARDS</div>
                <div class="awards-desc ">
                    <img src="js/components/footer/imgs/ft-awards.png" />
                    <br clear="all" />
                    <i>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</i>
                </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="title">LOCATION</div>
                <img class="location margin-top-20" src="js/components/footer/imgs/location.png">
            </div>
        </div>
    </section>
    <section class="end-footer">
        <div class="pull-left menu">
            <ul>
                <li>Home&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <li>About&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <li>Rooms&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <li>Restaurant&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <li>Gallery&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="pull-right copy">Copyright 2015 All rights reserved</div>
    </section>
</footer>
